<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main_page</title>
</head>
<body>
    <div class="messages">
        {% if messages %}
        {% for msg in messages %}
            {{msg}}
        {% endfor %}
        {% endif %}
    </div>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="recipe_name">Recipe Name : </label>
        <input type="text" name="recipe_name"  id="recipe_name"> <br>

        <label for="recipe_description">description : </label>
        <input type="text" name="recipe_description"  id="recipe_description"> <br>
        
        <label for="image">Image : </label>
        <input type="file" name="image" id="image"> <br>

        <button type="submit"> add </button>

    </form>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
        <label for="search">search by name : </label>
        <input type="text" name="search" id="search">
        <button type="submit">search</button>
    </form>


    <div class="reciptes">
        {% if all_reciptes %}
        {% for recipe in all_reciptes %} <br>
            <img src="{{ recipe.recipe_image.url }} " alt="not found!" width="200px" height="200px"> <br>
            <b>{{recipe.recipe_name}}</b> <br>
            {{recipe.recipe_description}} <br>
            <a href="{% url 'delete_recipe' recipe.pk %}">delete</a>
            <a href="{% url 'update_recipe' recipe.pk %}">update</a>
        {% endfor %}
        {% else %}
            <p>no reciptes found</p>
        {% endif %}
        
    </div>

    

</body>
</html>